body{
    font-family:" ";
    background-color: #41bbd9;
    margin: 1rem;
    padding: 1rem;
    margin: 2rem auto;
    }

    nav {
        border-bottom: 10px solid white;
        
        
    }

    .crumb {
        margin-right: 2em;
        padding: .5rem;
        display: inline;
        background-color: #E4FDE1;
        font-size: large;
        color:black;
        border-radius: 10px;
        font-family: 'Coustard', serif;
    }


  .header{
      text-align: center;
      color: white;
  }

.inputValue{
    height: 40px;
    width: 200px;
    text-align: center;
    font-style: italic;
    background-color: #E4FDE1;
}



  .input{
      text-align: center;
      
  }
   
.button{
    border-radius: 50%;
    background-color: #1B998B;
    height: 90px;
    width: 90px;
    font-size: xx-large;
    color: white;
}

#colorButton{
    border-radius: 50%;
    background-color: #1B998B;
    text-align: center;
    align-items: center;
    height: 150px;
    width: 155px;
    font-size: large;
    color: white;
   
}

#colorInputText{
    background-color: #E4FDE1;
    text-align: center;
    margin-left: 35%;
    margin-top: 200px;
    height: 90px;
    width: 280px;
    font-size: x-large;
}

.Pip{
    height: 400px;
    width: 400px;

}

.Pip2{
    height: 400px;
    width: 400px;
    margin-left: 35%;
}

 
   .Earthquake{
    height: 200px;
    width: 200px;
   }

   .sunnyDay{
    height: 200px;
    width: 200px;
   }

   .Tornado{
    height: 200px;
    width: 200px;
   }

   .Winter{
    height: 200px;
    width: 200px;
   }

   .spring{
    height: 200px;
    width: 200px;
   }
   .fall{
    height: 200px;
    width: 200px;
   }

   .Hurricane{
    height: 200px;
    width: 200px;
   }


   .tiempo{
       color: white;
       margin-left: 20%;
      
       }

       p{
           color: white;
           font-size: xx-large;
           text-align: center;
       }

       .about{
        color: white;
        text-align: center;
       }
    